.main {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffae33;
  z-index: 1;
  height: 50vh !important;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

// .text {
//   color: #fff !important;
// }

h1 {
  font-size: 80px;
  font-weight: 700;
}

p {
  font-size: 23px;
  font-weight: 400;
}

.btn {
  background-color: #fff;
  max-width: 170px;
  border-radius: 16px;
  padding: 12px 51px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

.pricing {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

.card {
  background: #f5f3f4;
  padding: 68px 82px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  max-width: 637px;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  font-weight: bold;
}

.option {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ffae33;
  border-radius: 12px;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 25px;
  font-weight: 700;
  gap: 38px;
}

.btnPurchase {
  width: 100%;
  background: #ffae33;
  color: #12100c;
  padding: 12px;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  max-width: 564px;
}
