
.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  gap: 32px;
  padding: 50px 20px;
  background: #f5f3f4;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  max-width: 637px;
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  font-weight: bold;
}

.option {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ffae33;
  border-radius: 12px;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 25px;
  font-weight: 700;
  gap: 38px;
}

.btnPurchase {
  width: 100%;
  background: #ffae33;
  color: #12100c;
  padding: 12px;
  border: none;
  border-radius: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  max-width: 564px;
}
