.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  text-align: center;
  padding: 60px 20px;
}

h1 {
  font-size: 54px;
  font-weight: 700;
}

.reviewsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 17px;
  margin: 0 auto;
}

.review {
  background-color: #fff;
  border-radius: 16px;
  padding: 44px 25px;
  text-align: left;
}

.reviewText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.reviewAuthor {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-top: 15px;
}

strong {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.wrapper {
  h1 {
    font-size: 40px;
  }

  .paragraph {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .wrapper {
    gap: 16px;
    h1 {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
