.links {
  display: flex;
  align-items: center;
  gap: 16px;

  .link {
    text-decoration: none;
    color: #12100c;
  }
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 22px;
}
